.container {
    border-radius: 10px;
    margin: 5px 0;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(64,128,237), rgb(74,162,244));
    color: white;
    display: flex;
    flex-direction: row;
}

.leftSection {
    margin-right: 10px;
    font-weight: bold;
}

.rightSection {}

